
.btn-pay{
    background: #007bff;
    border-color: #007bff;
    color:white;
    text-align: center;
    border-radius: .25rem;
    margin-left: 15px;
}
.contact{
    margin-left: 75px;
    margin-right: 75px;
}
.itemsCatalogo{
    margin-left: 75px;
    margin-right: 75px;
}
.fotografiaCatalogo{
    height: 250px;
    width: 250px;
    object-fit: cover
}
.fa{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align:  center;
    text-decoration: none;
    margin-top: 15px;
}
.fa:hover{
    opacity: 0.7;
}
.fa-facebook{
    background: #3B5998;
    color:white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin-left: 15px;
}
.fa-twitter{
    background:#55ACEE;
    color:white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin-left: 15px;
}
.fa-google{
    background: #dd4b39;
    color:  white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin-left: 15px;
}
.fa-linkedin{
    background: #007bb5;
    color:white;
    border-radius: 75%;
    height: 15px;
    width: 15px;
    margin-left: 15px;
}