{% extends "template.html" %} {% block title %} CATALOGO {% endblock %} {% block content %} {% load static %}

<div id="bazar-carrusel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#bazar-carrusel" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href=""><img src="{% static 'imagenes/muebles-banner.jpg' %}" class="d-block w-100"></img>
            </a>
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
    </div>
</div>
<div class="itemsCatalogo">
    <div class="row">
        <div class=" card " style="width: 18rem;">
            <img class="fotografiaCatalogo" src="{%  static 'imagenes/catalogo/paraguero.png ' %}">
            <div class="card-body">
                <h7 class="card-title">Paraguero Antiguo Fierro Fundido</h7>
                <p class="card text">
                <p class="card-text">$ 1.499.990</p>
                </p>
                <button class="btn-pay">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-bag-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z" />
                    </svg>
                    Agregar
                </button>
            </div>
        </div>
        <div class=" card " style="width: 18rem;">
            <img class="fotografiaCatalogo" src="{%  static 'imagenes/catalogo/Buffet antiguo celeste.png' %}">
            <div class="card-body">
                <h6 class="card-title">Buffet Antiguo Chippendale</h6>
                <p class="card text">
                <p class="card-text">$ 689.990</p>
                </p>
                <button class="btn-pay">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-bag-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z" />
                    </svg>
                    Agregar
                </button>
            </div>
        </div>
        <div class=" card " style="width: 18rem;">
            <img class="fotografiaCatalogo" src="{%  static 'imagenes/catalogo/figuras porcelana.jpg ' %}">
            <div class="card-body">
                <h6 class="card-title">Figuritas Porcelana (Trio) Antiguas</h6>
                <p class="card text">
                <p class="card-text">$ 139.990</p>
                </p>
                <button class="btn-pay">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-bag-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z" />
                    </svg>
                    Agregar
                </button>
            </div>
        </div>
        <div class=" card " style="width: 18rem;">
            <img class="fotografiaCatalogo" src="{%  static 'imagenes/catalogo/juego de cafe.jpg ' %}">
            <div class="card-body">
                <h6 class="card-title">Juego Café 17 Piezas Antiguo</h6>
                <p class="card text">
                <p class="card-text">$ 289.990</p>
                </p>
                <button class="btn-pay">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-bag-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z" />
                    </svg>
                    Agregar
                </button>
            </div>
        </div>
        <div class=" card " style="width: 18rem;">
            <img class="fotografiaCatalogo" src="{%  static 'imagenes/catalogo/lampara lagrima.png ' %}">
            <div class="card-body">
                <h6 class="card-title">Lampara Lagrimas Y Fierro 5 Luces</h6>
                <p class="card text">
                <p class="card-text">$ 119.990</p>
                </p>
                <button class="btn-pay">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-bag-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z" />
                    </svg>
                    Agregar
                </button>
            </div>
        </div>
        <div class=" card " style="width: 18rem;">
            <img class="fotografiaCatalogo" src="{%  static 'imagenes/catalogo/lampara gris verde.png ' %}">
            <div class="card-body">
                <h6 class="card-title">Lampara 5 Luces Gris/Verde</h6>
                <p class="card text">
                <p class="card-text">$ 239.990</p>
                </p>
                <button class="btn-pay">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-bag-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z" />
                    </svg>
                    Agregar
                </button>
            </div>
        </div>
        <div class=" card " style="width: 18rem;">
            <img class="fotografiaCatalogo" src="{%  static 'imagenes/catalogo/espejo provenzal.png ' %}">
            <div class="card-body">
                <h6 class="card-title">Espejo Provenzal</h6>
                <p class="card text">
                <p class="card-text">$ 259.990</p>
                </p>
                <button class="btn-pay">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-bag-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z" />
                    </svg>
                    Agregar
                </button>
            </div>
        </div>
        <div class=" card " style="width: 18rem;">
            <img class="fotografiaCatalogo"  src="{%  static 'imagenes/catalogo/espejo silueta madera.png ' %}">
            <div class="card-body">
                <h6 class="card-title">Espejo Silueta Madera</h6>
                <p class="card text">
                <p class="card-text">$ 239.990</p>
                </p>
                <button class="btn-pay">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-bag-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z" />
                    </svg>
                    Agregar
                </button>
            </div>
        </div>
        <div class=" card " style="width: 18rem;">
            <img class="fotografiaCatalogo" src="{%  static 'imagenes/catalogo/cabeza de ciervo.png ' %}">
            <div class="card-body">
                <h6 class="card-title">Cabeza Ciervo Pedestal</h6>
                <p class="card text">
                <p class="card-text">$ 57.990</p>
                </p>
                <button class="btn-pay">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-bag-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z" />
                    </svg>
                    Agregar
                </button>
            </div>
        </div>
        <div class=" card " style="width: 18rem;">
            <img class="fotografiaCatalogo" src="{%  static 'imagenes/catalogo/bulldog.png ' %}">
            <div class="card-body">
                <h6 class="card-title">Perro Bulldog Frances Tamaño Real</h6>
                <p class="card text">
                <p class="card-text">$ 339.990</p>
                </p>
                <button class="btn-pay">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-bag-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z" />
                    </svg>
                    Agregar
                </button>
            </div>
        </div>
        <div class=" card " style="width: 18rem;">
            <img class="fotografiaCatalogo" src="{%  static 'imagenes/catalogo/escritorio 5 cajones.png ' %}">
            <div class="card-body">
                <h6 class="card-title">Escritorio 5 Cajones</h6>
                <p class="card text">
                <p class="card-text">$ 589.990</p>
                </p>
                <button class="btn-pay">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-bag-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z" />
                    </svg>
                    Agregar
                </button>
            </div>
        </div>
        <div class=" card " style="width: 18rem;">
            <img class="fotografiaCatalogo" src="{%  static 'imagenes/catalogo/velador alto.png ' %}">
            <div class="card-body">
                <h6 class="card-title">Velador Alto 3 Cajones</h6>
                <p class="card text">
                <p class="card-text">$ 219.990</p>
                </p>
                <button class="btn-pay">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-bag-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z" />
                    </svg>
                    Agregar
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}