{% extends "template.html" %} {% block title %} CONTACT {% endblock %} {% block content %} {% load static %}
<div class="container">
    <br>
    <form id="frm-editar-contacto" action="/actualizar-contacto" method="POST">
        {% csrf_token %}
        <input type="hidden" id="txt-id" name="id" value="{{contacto.id}}">
        <div style="margin:10px; max-width: 1400px;">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="txt-nombres">NOMBRES</label>
                    <input type="text" class="form-control" id="txt-nombres" name="nombres"
                        placeholder="Ej: Alan Antonio" value="{{contacto.nombres}}" />
                </div>
                <div class="form-group col-md-4">
                    <label for="txt-apellido-paterno">APELLIDO PATERNO</label>
                    <input type="text" class="form-control" id="txt-apellido-paterno" name="apellido-paterno"  placeholder="Ej: Brito" value="{{contacto.apellido_pat}}" />
                </div>
                <div class="form-group col-md-4">
                    <label for="txt-apellido-materno">APELLIDO MATERNO</label>
                    <input type="text" class="form-control" id="txt-apellido-materno" name="apellido-materno"   placeholder="Ej: Delgado" value="{{contacto.apellido_mat}}"/>
                </div>
                <div class="form-group col-md-4">
                    <label for="txt-email">EMAIL</label>
                    <input type="email" class="form-control" id="txt-email" name="email" placeholder="Ej: Ejemplo@ej.cl" value="{{contacto.email}}" />
                </div>
                <div class="form-group col-md-4">
                    <label for="txt-telefono">TELÉFONO</label>
                    <input type="tel" class="form-control" id="txt-telefono" name="telefono"  placeholder="Ej: +569 123456789" value="{{contacto.telefono}}"/>
                </div>
                <div class="form-group col-md-4">
                    <label for="txt-asunto">ASUNTO</label>
                    <textarea class="form-control" id="txt-asunto" name="asunto" >{{contacto.asunto}}</textarea>
                </div>
            </div>
            <div class="form row">
                <button type="button" class="btn btn-primary" id="btn-enviar" onclick="enviar('frm-editar-contacto')">
                    ACTUALIZAR
                </button>

                <span>
                    &nbsp;
                </span>
                <button type="button" class="btn btn-warning" id="btn-limpiar" onclick="limpiar()">
                    LIMPIAR
                </button>
            </div>
        </div>
    </form>
    {% if message_error %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <div id="message">{{message_error}}</div>
        <button type="button" class="close" data-dismiss="alert" aria-label="coles">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %} {% if message_success %}
    <div class="alert alert-primary
     alert-dismissible fade show" role="alert">
        <div id="message">{{message_success}}</div>
        <button type="button" class="close" data-dismiss="alert" aria-label="coles">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
</div>

<hr>
    <div class="contact">
        <div class="row">
            <div class=" card " style="width: 18rem;">
                <h4 class="block-title footer-title">Bazar Deco</h4>
                <strong>Raúl Labbé 13097 – Lo Barnechea</strong>
                <p>Lunes - Viernes de 10:00 - 14:00 y 15:30 - 18:00</p>
                <h6><strong>Parque Arauco - Piso Diseño Local 575</strong></h6>
                <p>Lunes - Sábado de 10:00 - 21:00 Domingo de 11:00 - 21:00</p>
            </div>
            <div class=" card " style="width: 18rem;">
                <h4 class="block-title footer-title">Contacto</h4>
                <p>(+56 2) 2216 61 03 - (+56 2) 2342 20 29</p>
                <p>info@bazardecochile.cl</p>
                <p>Raúl Labbé 13097 – Lo Barnechea</p>
                <strong> Parque Arauco - Piso Diseño Local 575</strong>
            </div>
            <div class=" card " style="width: 18rem;">
                <div class="text-align: right;">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d106596.32809920015!2d-70.6118866!3d-33.3936354!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf26382f70ab%3A0x17bc17d95fa92c3f!2sBazar%20Deco!5e0!3m2!1ses!2scl!4v1610910454166!5m2!1ses!2scl"
                        width="285" height="300" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
            <div class=" card " style="width: 18rem;">
                <strong>Te invitamos...</strong>
                <p> A seguirnos en nuestras redes sociales</p>
                <div>
                    <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                    <a href="https://www.twitter.com" class="fa fa-twitter"></a>
                    <a href="https://www.gmail.com" class="fa fa-google"></a>
                    <a href="https://www.linkedin.com" class="fa fa-linkedin"></a>
                </div>
                <br>
                <br>
                <br>
                <strong>Gracias por visitarnos</strong>
            </div>
        </div>
    </div>
<script src="{% static 'js/validate/contact-form-validate.js' %}"></script>
<script src="{% static 'js/util/empty.js' %}"></script>
<script src="{% static 'js/util/max-text.js' %}"></script>
{% endblock %}