{% extends "template.html" %} {% block title %} HOME {% endblock %} {% block content %} {% load static %}

<div id="bazar-carrusel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#bazar-carrusel" data-slide-to="0" class="active"></li>
        <li data-target="#bazar-carrusel" data-slide-to="1"></li>
        <li data-target="#bazar-carrusel" data-slide-to="2"> </li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href=""><img src="{% static 'imagenes/asd.png' %}" class="d-block w-100"></img>
            </a>
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <a href="/catalogo">
            <img   src="{% static 'imagenes/muebles-banner.jpg' %}" class="d-block w-100"></img>
        </a>
            <div class="carousel-caption d-none d-md-block">
                <h5>Segundo Slide</h5>
                <p>Batman & Jocker</p>
            </div>
        </div>
        <div class="carousel-item ">
            <img src= "{% static 'imagenes/banner-nicole.jpg' %}" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
                <h5>CONTÁCTANOS</h5>
                <p>Haz click aquí para darnos tu opínión</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#bazar-carrusel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#bazar-carrusel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div style="margin: 40px;">
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla semper tortor a risus auctor, eu convallis ex posuere. Fusce id lectus facilisis, convallis tellus at, fringilla felis. Integer euismod et orci at ultricies. Sed congue orci in nisl tristique malesuada. Proin placerat maximus justo vitae feugiat. Fusce porttitor bibendum accumsan. Vestibulum porta pellentesque ipsum, ac rutrum nibh consequat venenatis. Praesent turpis velit, rutrum ac diam non, accumsan auctor mauris. </p>
    <br>
    <p class="text-center">Pellentesque molestie interdum laoreet. Morbi iaculis, dolor sit amet tempus tempor, mauris ante fermentum lacus, id tempus risus est eu lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed vel pulvinar justo. Vestibulum ligula velit, sollicitudin non massa at, feugiat varius dui. Curabitur et tempus nisi. In pellentesque semper urna ut ultrices. Phasellus eleifend vitae dui in rhoncus. </p>
</div>
{% endblock %}